.App{
    height: 100vh;
    width: 100%;
    background-image: url("/src/assets/img/bg_03.jpg");
    background-origin: border-box;
    background-size: cover;
    background-clip: border-box;
    overflow: hidden;
    overflow-y: scroll;
}
.main{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}